@mixin magnitude-bg {
  &.major {
    background: rgba(#d31a1a, 0.8);
  }

  &.minor {
    background: rgba(#e38080, 0.8);
  }

  &.moderate {
    background: rgba(#b8c2f0, 0.8);
  }

  &.unknown {
    background: grey;
  }
}